.cart {
    margin-top: 50px;

    .carts {
        margin: 25px 0;

        &__top {
            width: 100%;
            max-width: 1300px;
            border-radius: 20px;
            background: rgb(242, 242, 242);
            padding: 35px 46px;

            &__info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                max-width: 1065px;

                &__left {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 80px;

                    &__p {
                        color: rgb(69, 69, 69);
                        font-family: Manrope;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        letter-spacing: 0%;
                        text-align: left;
                        opacity: 0.5;
                    }
                }

                &__right {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 300px;
                }
            }

            &__items {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                gap: 20px;
                border-top: 1px solid #ddd;
                padding: 15px 0;

                &__p {
                    width: 250px;
                    color: rgb(69, 69, 69);
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: left;
                    text-transform: capitalize;
                }

                &__ollprice {
                    width: 100px;
                    color: rgb(69, 69, 69);
                    font-family: Manrope;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0%;
                    text-align: center;
                    margin-left: -20px;
                }

                &__left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 36px;

                    &__img {
                        width: 80px;
                        height: 80px;
                        border-radius: 15px;
                        background: rgb(255, 255, 255);
                    }

                    &__text {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 20px;

                        &__title {
                            width: 100%;
                            color: rgb(69, 69, 69);
                            font-family: Manrope;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 130%;
                            letter-spacing: 0%;
                            text-align: left;
                            text-transform: capitalize;
                        }

                        &__price {
                            color: rgb(69, 69, 69);
                            font-family: Manrope;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 110%;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }
                }

                &__right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 68px;

                    &__sort {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;

                        &__quaint {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 60px;
                            height: 60px;
                            border: 1px solid #ddd;
                            border-radius: 10px;

                            &__p {
                                color: rgb(69, 69, 69);
                                font-family: Manrope;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                                letter-spacing: 0%;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

.carts__top__items__right__sort__button {
    color: rgb(69, 69, 69);
    font-family: Manrope;
    font-size: 34px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    background: transparent;
}

.carts__top__items__right__button {
    width: 21px;
    height: 25.67px;
}

.checkout__form {
    width: 100%;
    border-radius: 20px;
    background: rgb(242, 242, 242);
    margin: 20px auto;
    padding: 48px;

    &__p {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 32px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
    }

    &__intro {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        margin: 31px 0;
    }

    .checkout__form__intro input {
        width: 373px;
        height: 49.03px;
        border: 1px solid rgb(69, 69, 69);
        border-radius: 100px;
        background: transparent;
        padding: 0 20px;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
        transition: .4s ease;
    }

    .checkout__form__intro input:hover,
    .checkout__form__adrec__input:hover,
    .checkout__form__adrec__text:hover {
        border: 1px solid #ddd;
        box-shadow: 0 0 8px 0 #b1b1b1;
    }

    &__adrec {
        padding: 35px 0;
        border-top: 1px solid #ddd;

        &__input {
            width: 100%;
            max-width: 767px;
            height: 49.03px;
            outline: none;
            border: 1px solid rgb(69, 69, 69);
            border-radius: 100px;
            background: transparent;
            padding: 0 20px;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            margin: 31px 0;
            transition: .4s ease;
        }

        &__text {
            width: 100%;
            max-width: 767px;
            height: 150.87px;
            outline: none;
            border: 1px solid rgb(69, 69, 69);
            border-radius: 26px;
            background: transparent;
            padding: 20px;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            transition: .4s ease;
        }
    }
}

.oplata {
    width: 100%;
    padding: 48px;
    border-radius: 20px;
    background: rgb(242, 242, 242);

    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
        margin: 32px 0;

        &__p {
            width: 100%;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
            opacity: 0.5;
        }
    }

    &__price {
        width: 100%;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 24px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
        margin: 28px 0;
    }

    &__cupit {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;

        &__button {
            width: 100%;
            max-width: 324px;
            height: 50px;
            border-radius: 100px;
            background: rgb(69, 69, 69);
            color: rgb(255, 255, 255);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: -1px;
            letter-spacing: 0%;
            text-align: center;
        }

        &__p {
            width: 100%;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 12px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0%;
            text-align: left;
            opacity: 0.5;
        }
    }
}

@media (max-width: 500px) {
    .oplata__top__p {
        font-size: 16px;
    }

    .carts__top__info__left__p {
        display: none;
    }
}