.singleproduct {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 45px 0;
}


.single__img {
    width: 100%;
    max-width: 600px;
    height: 600px;
    box-shadow: 0 0 8px #ddd;
    border-radius: 15px;
    object-fit: cover;
}

.single__right {
    width: 595px;

    &__h2 {
        width: 595px;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 40px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: left;
    }

    .starwrapper {
        width: 100%;
        max-width: 595px;
        height: 94px;
        margin: 40px auto;

        &__scott {
            color: rgb(179, 179, 179);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
        }

        &__centr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
            margin: 12px 0;

            &__p {
                color: rgb(179, 179, 179);
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
            }

            &__icons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                &__button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 21px;
                    height: 21px;
                    border-radius: 500px;
                    background: rgb(229, 229, 229);
                    transition: .3s ease;
                }

                &__button:hover {
                    background: #000;
                }
            }
        }

        &__p {
            color: rgb(77, 147, 44);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
        }
    }

    .price {
        display: flex;
        align-items: center;
        gap: 20px;

        &__p {
            color: rgb(16, 16, 16);
            font-family: Inter;
            font-size: 40px;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 1%;
            text-align: left;
        }

        &__old {
            color: rgb(179, 179, 179);
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 1%;
            text-align: left;
            text-decoration-line: line-through;
        }
    }

    .aboutproduct {
        color: rgb(76, 76, 76);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;
        margin: 40px 0;
    }

    .element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        width: 387px;
        height: 52px;

        .kenzo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            width: 123px;
            height: 52px;
            border: 1px solid rgb(229, 229, 229);
            border-radius: 10px;

            .quaintity {
                color: rgb(16, 16, 16);
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 123%;
                letter-spacing: 0%;
                text-align: right;
                background: transparent;
            }

            .button__span {
                width: 8px;
                height: 20px;
                color: rgb(16, 16, 16);
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 123%;
                letter-spacing: 0%;
                text-align: right;
                background: transparent;
            }
        }

        .element__button {
            width: 180px;
            height: 52px;
            border-radius: 10px;
            background: rgb(69, 69, 69);
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 123%;
            letter-spacing: 0%;
            text-align: center;
        }

        .span__icons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52px;
            height: 52px;
            border-radius: 10px;
            background: rgb(248, 248, 248);
        }
    }
}

@media (max-width: 1200px) {
    .single__img {
        max-width: 500px;
        height: 500px;
    }

    .single__right {
        width: 500px;

        &__h2 {
            width: 500px;
            font-size: 33px;
        }

        .starwrapper {
            max-width: 500px;
            margin: 35px 0;

            &__centr {
                margin: 10px 0;
            }
        }
    }
}

@media (max-width: 850px) {
    .singleproduct {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin: 40px 0;
    }
}

@media (max-width: 500px) {
    .single__img {
        width: 328px;
        height: 328px;
        margin: 0;
    }

    .single__right {
        width: 595px;

        &__h2 {
            width: 328px;
            font-size: 28px;
            font-weight: 500;
            line-height: 110%;
        }

        .starwrapper {
            width: 100%;
            max-width: 328px;
            height: 94px;
            margin: 18px 0;

            &__scott {
                color: rgb(179, 179, 179);
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
            }

            &__centr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 25px;
                margin: 12px 0;

                &__p {
                    color: rgb(179, 179, 179);
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 160%;
                    letter-spacing: 0%;
                    text-align: left;
                }

                &__icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    &__button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 21px;
                        height: 21px;
                        border-radius: 500px;
                        background: rgb(229, 229, 229);
                        transition: .3s ease;
                    }

                    &__button:hover {
                        background: #000;
                    }
                }
            }

            &__p {
                color: rgb(77, 147, 44);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        .price {
            display: flex;
            align-items: center;
            gap: 20px;

            &__p {
                font-size: 28px;
            }

            &__old {
                font-size: 16px;
                font-weight: 500;
            }
        }

        .aboutproduct {
            width: 332px;
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0;
        }

        .element {
            gap: 6px;
            width: 100%;

            .kenzo {
                padding: 0 10px;
                width: 123px;
            }

            .element__button {
                width: 100%;
                max-width: 140px;
                font-size: 12px;
                line-height: 110%;
            }

            .span__icons {
                width: 52px;
                height: 52px;
            }
        }
    }
}

.single__bottm {
    margin: 55px 0;
}

.single__bottm__card,
.single__bottm__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-right: 50px;
    background: #fff;
    width: 100%;
}

.single__bottm__item {
    background: rgb(248, 248, 248);
}

.single__bottm__card__right {
    width: 100%;
    max-width: 500px;
    color: rgb(76, 76, 76);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 1%;
    text-align: right;
}

@media (max-width: 500px) {

    .single__bottm__card,
    .single__bottm__item {
        display: block;
        text-align: center;
        gap: 30px;
    }

    .single__bottm__card__right {
        text-align: center;
        margin: 10px 0;
    }
}